.asciiquarium-wrapper {
    .fish {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 10px;

        &.fish-1 {
            top: 3px;
        }

        &.fish-2 {
            top: 15px;
        }
    }
}
