<div class="root-wrapper" (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')">
    <app-login *ngIf="showLogin"></app-login>
    <app-shout-pane *ngIf="showShouts"></app-shout-pane>
</div>
