.login-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .asciiart {
        margin: auto;
        width: fit-content;
        height: fit-content;
        // width: 100%;
        // height: 100%;
        // object-fit: cover;
        // object-position: center;

        &.nocolour {
            display: none;
        }
    }

    .form-field {
        position: absolute;
        bottom: 100px;
        width: 100%;


        input {
            display: block;
            margin: auto;
            font-family: monospace;
            font-size: 25px;
            width: 250px;
            height: 50px;
            padding: 0 15px;
            background-color: #000000;
            border: 3px dashed #e8e8e8;
            color: #e8e8e8;
            text-align: center;

            &:focus {
                outline: none;
            }
        }
    }

    &.noise-a-01 {
        .asciiart {
            &.colour {
                display: none;
            }
            &.nocolour {
                display: block;
            }
            color: #aa9f9f;
        }
    }

    &.noise-a-02 {
        .asciiart {
            &.colour {
                display: none;
            }
            &.nocolour {
                display: block;
            }
            color: #50e0c8;
        }
    }

    &.noise-a-03 {
        .asciiart {
            &.colour {
                display: none;
            }
            &.nocolour {
                display: block;
            }
            color: #e427d4;
        }
    }

    &.noise-a-04 {
        .asciiart {
            &.colour {
                display: none;
            }
            &.nocolour {
                display: block;
            }
            color: #ffffff;
        }
    }

    &.noise-a-05 {
        .asciiart {
            &.colour {
                display: none;
            }
            &.nocolour {
                display: block;
            }
            color: #b6b6b6;
        }
    }

    &.noise-a-06 {
        .asciiart pre span {
            &.colour {
                display: none;
            }
            &.nocolour {
                display: block;
            }
            color: #868686;
        }
    }

    &.noise-a-07 {
        .asciiart {
            &.colour {
                display: none;
            }
            &.nocolour {
                display: block;
            }
            color: #505050;
        }
    }

    &.noise-a-08 {
        .asciiart {
            transform: rotate(180deg);
        }
    }

    &.noise-a-09 {
        .asciiart {
            scale: 105%;
        }
    }

    &.noise-a-10 {
        .asciiart {
            transform: translateX(10px);
        }
    }

    &.noise-a-10 {
        .asciiart {
            transform: translateX(-10px) translateY(10px);
        }
    }

    &.noise-a-11 {
        .asciiart {
            transform: translateX(10px) translateY(-10px);
        }
    }


    &.noise-b-01 {
        .form-field input {
            border: 3px dotted #e8e8e8;
        }
    }

    &.noise-b-02 {
        .form-field input {
            border: 3px solid #e8e8e8;
        }
    }

    &.noise-b-03 {
        .form-field input {
            border: 3px solid #8010ac;
            background-color: #524747;
        }
    }
}
