<div class="login-wrapper {{ wrapperClass }}">

    <div class="asciiart colour" [innerHTML]="asciiartHtmlColour"></div>
    <div class="asciiart nocolour" [innerHTML]="asciiartHtml"></div>

    <form (submit)="$event.preventDefault(); submitPassword()">
        <div class="form-field">
            <input #passwordInput name="password" type="password" [(ngModel)]="password" (keyup)="keyTyped()" />
        </div>
    </form>
</div>
