.shout-pane-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #000000;
    overflow: hidden;

    font-family: monospace;
    font-size: 20px;

    .asciiart {
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        width: fit-content;
        height: fit-content;

        & > pre {
            font-size: 6px;
        }

        &.nocolour {
            display: none;
        }
    }

    .latest-shout {

        .shout-text {
            float: left;
            margin-top: 100px;
            margin-left: 50px;

            pre {
                font-size: 20px;
            }
        }

        .picture-wrapper {
            position: absolute;
            top: 10px;
            right: 50px;

            .image {
                display: none;
                margin-left: auto;
                margin-right: auto;
                margin-top: 30px;


                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    &.latest-image-nocolour {
        .latest-shout {
            .asciiart.colour {
                display: none;
            }
            .asciiart.nocolour {
                display: block;
            }
        }
    }

    &.latest-image-real {
        .latest-shout {
            .asciiart.colour {
                display: none;
            }
            .image {
                display: block;
            }
        }
    }

    .write-switch {
        position: absolute;
        float: right;
        bottom: 10px;
        right: 20px;
        cursor: pointer;
    }

    .mirrored {
        transform: rotateY(180deg);
    }

    .create-form {
        position: relative;

        .form-field {
            position: relative;
            width: 70%;
            min-height: 60px;
            margin-left: auto;
            margin-right: auto;
            clear: auto;
            margin-top: 30px;

            textarea {
                width: calc(100% - 20px);
                height: 200px;
                background-color: rgb(94, 94, 94);
                border: 0;
                font-size: 30px;
                font-family: monospace;
                color: white;
                padding: 10px;

                &:focus {
                    outline: none;
                }

                &.with-noise {
                    background-image: url('/assets/pictures/noise_anim.webp');
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }

            .description {
                position: absolute;
                bottom: -20px;
                font-size: 14px;
                right: 0;
                color: rgb(112, 112, 112);
            }

            .submit-field-wrapper {
                background-color: cornflowerblue;
                width: 300px;
                height: 60px;
                cursor: pointer;
                margin-left: auto;
                margin-right: auto;
                position: relative;
                overflow: hidden;

                .noise-fill {
                    display: none;
                    width: 100%;
                    height: 100%;
                    background-image: url('/assets/pictures/noise_anim.webp');
                }

                &.submitting,
                &.error {
                    .asciiquarium {
                        display: none;
                    }
                    .noise-fill {
                        display: block;
                    }
                }

                &.error {
                    filter: sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
                }
            }
        }
    }

    @media (max-width: 400px) {
        pre {
            font-size: 3px;
        }
    }
    @media (min-width: 401px) and (max-width: 600px) {
        pre {
            font-size: 4px;
        }
    }
    @media (max-width: 800px) {
        .create-form {
            .form-field {
                width: 100%;

                .submit-field-wrapper {
                    .fish {
                        font-size: 9px;
                    }
                }
            }
        }
    }

}
