<div class="shout-pane-wrapper {{ wrapperClass }}">



    <ng-container [ngSwitch]="mode">

        <ng-container *ngSwitchCase="eMode.DISPLAYING_LATEST">
            <div class="latest-shout">
                <ng-container *ngIf="latestShout !== null">
                    <div class="shout-text">
                        <pre [innerHTML]="latestShout.shout"></pre>
                    </div>
                </ng-container>
                <div class="picture-wrapper">
                    <div #latestAsciiart class="asciiart colour" [innerHTML]="asciiartHtmlColourLatest"></div>
                    <div class="asciiart nocolour" [innerHTML]="asciiartHtmlLatest"></div>
                    <div class="image" [style.width]="latestImageWidth" [style.height]="latestImageHeight">
                        <img alt="" [src]="latestShoutRealPicturePath" />
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-container *ngSwitchCase="eMode.CREATING">
            <div class="create-form">
                <form (submit)="$event.preventDefault(); createShout()">
                    <div class="form-field">
                        <textarea #textareaInput name="newShoutText" [(ngModel)]="newShoutText" (keyup)="keyTyped()"></textarea>
                        <!--
                        <div *ngIf="timeToNoiseMs > 0" class="description">Time to noise: {{ timeToNoiseStr }}s</div>
                        -->
                    </div>
                    <div class="form-field form-field-submit">
                        <div class="submit-field-wrapper" [ngClass]="{'error': saveError, 'submitting': submittingShout}" (click)="createShout()">
                            <app-asciiquarium class="asciiquarium"></app-asciiquarium>
                            <div class="noise-fill"></div>
                        </div>
                    </div>
                </form>

                <div class="asciiart colour" [innerHTML]="asciiartHtmlColourCreating"></div>
                <div class="asciiart nocolour" [innerHTML]="asciiartHtmlCreating"></div>
            </div>
        </ng-container>

        <div class="write-switch" (click)="switchCreatingMode()">
            <pre class="pingu-side" [ngClass]="{ 'mirrored': pinguMirrored }" [innerHTML]="pingu"></pre>
        </div>

    </ng-container>


</div>

